# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment
.env

# Data
data/raw/*.csv
data/raw/*.json
data/processed/*.csv
data/processed/*.json
data/sample/*.csv
data/sample/*.json

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Docker
docker/postgres_data/